NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_SECRET_KEY=YOUR_SUPABASE_SECRET_KEY
GOOGLE_GENERATIVE_AI_API_KEY=YOUR_GOOGLE_GENERATIVE_AI_API_KEY
COFI_ADMIN_SYNC_PASSWORD=YOUR_COFI_ADMIN_SYNC_PASSWORD
